@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color:orange !important;
}

.slick-prev, .slick-next {
  background-color: #003B4A !important;
}

.MyGradient {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0)
    );
}

.zoom {
  transition: transform 0.3s ease;
}

.zoom:hover {
  transform: scale(1.05); 
}

@keyframes zoomEffect {
  0% {
    background-size: 110%;
  }
  50% {
    background-size: 100%; /* The image zooms in by 10% */
  }
}